.check-mail-container,
.reset-password-container-main {
  background-color: rgb(37, 7, 137);
  height: 703px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset-password-container {
  height: 330px;
  background-color: #fff;
  padding: 15px;
  width: 500px;
  border-radius: 10px;
}
.reset-password-heading-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 90px;
  font-size: 20px;
  font-weight: 600;
}
.reset-password-heading-text-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  padding: 15px 0 0 5px;
  font-size: 20px;
  font-weight: 600;
}

.reset-password-form-input-label {
  font-size: 17px;
  margin-top: 5px;
  font-weight: 500;
  padding: 0 0 0 5px;
}
.reset-password-form-input {
  width: calc(100% - 30px);
  padding: 10px;
  border: none;
  border-bottom: 1px solid #828384;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  margin: 15px 0 0 0;
}
.reset-password-form-input::placeholder {
  color: #a0aec0;
}
.reset-password-form-button {
  height: 43px;
  width: 50%;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  background-color: #3b82f6;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.reset-password-form-button:hover {
  background-color: #1d6ff3;
  box-shadow: inset 0 -4px 0 #1d4ed8;
}
.reset-password-form-button-container {
  display: flex;
  align-items: center;
  justify-content: center;padding: 15px 0 0 0;
}
.reset-password-form-inputs {
  height: 90px;
}
.error-reset-password {
  position: relative;
  font-size: 12px;
  color: red;
  bottom: 20px;
}
.check-mail-main-container{
  height: 200px;
  background-color: #fff;
  border-radius:  10px;
  width: 500px;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.check-mail-heading{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.error-email-enter{
  margin-top: 10px;
}